/*  Hi! your going to write styles here in the next couple activities. */ 

body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    margin-top: 4px;
    margin-bottom: 4px;
}

.margin-bottom {
    margin-bottom: 20px;
}

.primary-color-header {
    width: 100%;
    border-bottom: 10px solid lightgray;
}

.primary-color-header h1 {
    color: black;
    font-size: 32px;
}

.swatch_collection {
    display: flex;
}

.swatch {
    width: 120px;
    border: 1px solid black;
    border-radius: 0px 0px 6px 6px;
    margin-right: 15px;
}

.swatch_color {
    width: 120px;
    height: 120px;
    border-bottom: 1px solid black;
}

.swatch_value {
    font-weight: bold;
    padding: 10px;
    text-align: center;
}

.purple {
    background-color: purple;
}

.dark-gray {
    background-color: darkgray;
}

.light-gray {
    background-color: lightgray;
}

.white {
    background-color: white;
}

.light-blue {
    background-color: lightblue;
}